<h1>All sites</h1>

<% unless @sites.empty? %>
  <% @sites.each do |site| %>
        <section>
          <h2><%= site.name %></h2>
          <ul>
            <% site.pages.each do |page| %>
                <li><%= link_to page.path, page.path %></li>
            <% end %>
          </ul>
        </section>
  <% end %>
<% else %>
    <h2>There are no sites at the moment</h2>
<% end %>